<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>site</title>
  </head>
  <body>
    <div>
      <ul>
        <li><a class="active" href="Home">Home</a></li>
        <li><a href="OurServices">Our Services</a></li>
        <li><a href="ContactUs">Contact Us</a></li>
      </ul>
    </div>

    <div>
      <h2>Our trainers</h2>

      <table id="customers">
        <tr>
          <th>student</th>
          <th>tech working with</th>
          <th>project</th>
        </tr>
        <tr>
          <td>Ela</td>
          <td>React</td>
          <td>Smart contract deploiment</td>
        </tr>
        <tr>
          <td>ahmed</td>
          <td>Go</td>
          <td>Smart contract deploiment</td>
        </tr>
        <tr>
          <td>Asma</td>
          <td>javascript</td>
          <td>Smart contract deploiment</td>
        </tr>
        <tr>
          <td>Ala</td>
          <td>Java</td>
          <td>Smart contract deploiment</td>
        </tr>
        <tr>
          <td>samar</td>
          <td>Solidity</td>
          <td>Smart contract deploiment</td>
        </tr>
      </table>
    </div>
  </body>
</html>
